
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.VARKYNTH.Player">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_AUDIO_OUTPUT" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS_PRIVILEGED" />
	<uses-permission android:name="android.permission.REQUEST_NOTIFICATION_ASSISTANT_SERVICE" />
	<uses-permission android:name="android.permission.MANAGE_NOTIFICATION_LISTENERS" />
	<uses-permission android:name="android.permission.MANAGE_CLIPBOARD_ACCESS_NOTIFICATION" />
	<uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROCESSING" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.SET_VOLUME_KEY_LONG_PRESS_LISTENER" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.BIND_QUICK_SETTINGS_TILE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
<application	
android:appCategory="audio"
android:hasFragileUserData="true"
android:hardwareAccelerated="true"
android:allowTaskReparenting="true"
android:largeHeap="true"
android:uiOptions="splitActionBarWhenNarrow"
android:resizeableActivity="true"
android:maxAspectRatio="2.4"
android:appComponentFactory="androidx.core.app.CoreComponentFactory"
android:preserveLegacyExternalStorage="true"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:name=".VARTHApplication"
		android:requestLegacyExternalStorage="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
<intent-filter>
				<action
					android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
				<category
					android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<action
					android:name="android.intent.action.MUSIC_PLAYER" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.LAUNCHER" />
				<category
					android:name="android.intent.category.APP_MUSIC" />
				<category
					android:name="android.intent.category.CATEGORY_APP_MUSIC" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.SEND" />
				<action
					android:name="android.intent.action.SEND_MULTIPLE" />
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:scheme="file" />
				<data
					android:scheme="content" />
				<data
					android:scheme="http" />
				<data
					android:scheme="https" />
				<data
					android:mimeType="application/ape" />
				<data
					android:mimeType="application/dff" />
				<data
					android:mimeType="application/dsf" />
				<data
					android:mimeType="application/flac" />
				<data
					android:mimeType="application/itunes" />
				<data
					android:mimeType="application/mp4*" />
				<data
					android:mimeType="application/mpeg*" />
				<data
					android:mimeType="application/mpegurl" />
				<data
					android:mimeType="application/ogg" />
				<data
					android:mimeType="application/opus" />
				<data
					android:mimeType="application/vnd.apple.mpegurl" />
				<data
					android:mimeType="application/wv" />
				<data
					android:mimeType="application/x-ape" />
				<data
					android:mimeType="application/x-cue" />
				<data
					android:mimeType="application/x-dff" />
				<data
					android:mimeType="application/x-dsf" />
				<data
					android:mimeType="application/x-extension-mp4" />
				<data
					android:mimeType="application/x-flac" />
				<data
					android:mimeType="application/x-flac" />
				<data
					android:mimeType="application/x-mpegurl" />
				<data
					android:mimeType="application/x-ogg" />
				<data
					android:mimeType="application/x-opus" />
				<data
					android:mimeType="application/x-winamp-playlist" />
				<data
					android:mimeType="application/x-wv" />
				<data
					android:mimeType="application/xspf+xml" />
				<data
					android:mimeType="audio/*" />
				<data
					android:mimeType="audio/dsd" />
				<data
					android:mimeType="audio/dsf" />
				<data
					android:mimeType="audio/flac" />
				<data
					android:mimeType="audio/ogg" />
				<data
					android:mimeType="audio/opus" />
				<data
					android:mimeType="audio/x-flac" />
				<data
					android:mimeType="audio/x-dsd" />
				<data
					android:mimeType="audio/x-dsf" />
				<data
					android:mimeType="audio/x-matroska" />
				<data
					android:mimeType="audio/x-mpegurl" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:scheme="file" />
				<data
					android:scheme="content" />
				<data
					android:scheme="http" />
				<data
					android:scheme="https" />
				<data
					android:host="*" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.acsm" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.aac" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.aif" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.aiff" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.ape" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.dsd" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.dsf" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.fla" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.flac" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.it" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.m4a" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.m4b" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mac" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mo3" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mod" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mp+" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mp3" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mp4" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mpc" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mpga" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mpp" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.mtm" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.oga" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.ogg" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.opus" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.s3m" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.umx" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.wav" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.wv" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.xm" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.cue" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.m3u" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.m3u8" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.xspf" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.aimpbpl" />
			</intent-filter>
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<action
					android:name="android.intent.action.EDIT" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:scheme="file" />
				<data
					android:scheme="content" />
				<data
					android:scheme="http" />
				<data
					android:scheme="https" />
				<data
					android:host="*" />
				<data
					android:mimeType="*/*"
					android:pathPattern=".*.acsm" />
			</intent-filter>
<intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
<intent-filter>
                <action android:name="com.VARKYNTH.Player.START" />
                <action android:name="com.VARKYNTH.Player.NEXT" />
                <action android:name="com.VARKYNTH.Player.PRE" />
                <action android:name="com.VARKYNTH.Player.STOP" />
            </intent-filter>            
		</activity>
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.DebugActivity" />
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="com.VARKYNTH.Player.androidx-startup"
			android:exported="false">
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup" />
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup" />
		</provider>
		<activity
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:name="VARTHAboutActivity" />
		<activity
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:name="VARTHDonateActivity" />
		<activity
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:name="VARTHFxActivity" />
		<activity
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="stateHidden"
			android:name="VARTHSettingsActivity" />
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />
<uses-library
			android:name="android.media.dolby"
			android:required="false" />
<service android:name=".VARTHMusicService" 
android:foregroundServiceType="mediaPlayback"
android:exported="true"
android:enabled="true"/>
<provider
    android:name="androidx.core.content.FileProvider"
    android:authorities="com.VARKYNTH.Player.fileprovider"
    android:exported="false"
    android:grantUriPermissions="true">
    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths"/>
</provider>

	</application>
</manifest>